{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Empleado</td>
            <td>Tipo de ausencia</td>
            <td>No. de ausencias</td>
            <td>Fecha desde</td>
            <td>Fecha Hasta</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %} <!-- solicitud -->
        {% for solicitud in object_list %}
        <tr>
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.personat.nombre }} {{ solicitud.personat.apellido }}</td>
            <td>{{ solicitud.tausenciat.nombre }}</td>
            <td>{{ solicitud.num_ausencia }}</td>
            <td>{{ solicitud.fecha_desde }}</td>
            <td>{{ solicitud.fecha_hasta }}</td>
            <td>
                <a class="btn btn-primary" href="/solicitud/editar/{{ solicitud.id }}/">Editar</a>
                <a class="btn btn-danger" href="/solicitud/eliminar/{{ solicitud.id }}/">Eliminar</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No existen registros...</h1>
        {% endif %}
    </tbody>
</table>

{% endblock %}